/* TYPOGRAPHY */

body {
	  background-image: url(../Images/wood.jpg);
	  color: white;
}

h1 {
	color: #FFFFFF;
	font-family: 'Aclonica', sans-serif;
}

h2 {
	position: center;
	margin-top: 60px;
	color: #424242;
}

h6 {
	background-color: #543f42;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

a {
	color: #661919;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

	a:active {
		color: #F7BE81;
	}


/* GENERAL LAYOUT RULES */

#picture-container {
	margin-top: 50px;
	margin-bottom: 50px;
}

#menu-picture, #cakes-picture, #bread-picture {
	position: inherit;
	background: rgba(42, 44, 43, 0.6);
	color: #fff;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 25px;
	width: 325px;
	height: 430px;
	padding-top: 100px;
	margin-top: -430px;
	visibility: hidden;
}

.hover-pic:hover #menu-picture,
.hover-pic:hover #cakes-picture,
.hover-pic:hover #bread-picture {
	visibility: visible;
}

.Second-Container {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 60px;
	padding-bottom: 200px;
	text-align: center;
	background-color: none;
	background-image: url(../Images/Chef.png);
	background-repeat: no-repeat;
	background-position: center;
}

.Second-Container p {
	margin-left: 280px;
	margin-right: 280px;
	margin-top: 30px;
	color: #424242;
}

.Footer-Banner {
	padding-left: 10px;
	padding-top: 200px;
}

#circle-left,
#circle-center,
#circle-right {
	background-color: #543f42;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

#circle-center {
	background-color: #ffa666;
}

#circle-right {
	background-color: #c24848;
}

#home-link {
	background-color: rgb(66, 58, 48);
}

#goods-link {
	
	background-color: rgb(250, 224, 174);
}

#gallery-link {
	background-color: rgb(76, 41, 38);
}

#falko-link{
	
	background-color: rgb(75, 0, 6);
}

#info {
	margin-top: 40px;
	margin-bottom: 40px;
}

#circle-left hr, #circle-right hr {
	width: 200px;
}

#logo {
	padding-top: 30px;
}


/* HEADER */
header {
	background: url(../Images/CakeBk.jpg); 

}

#top-bar {
	margin: 50px 0 0 0;
    background-color: rgba(42, 44, 43, 0.6);
}


nav {
	float: right;
	text-align: center;
}

nav ul {
	padding-top: 50px;
	list-style-type: none;
	display: inline-table;
}

nav ul li {
	padding: 30px !important;
	display: inline;
}

nav ul li a {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Aclonica', sans-serif;
}

.header-contents {
	text-align: center;
	padding-bottom: 100px;
	padding-top: 100px;
	background-size: 100%;
	background-color: rgba(42, 44, 43, 0.6);
} 

#Contents {
	padding-top: 70px;
}


footer {
	background-color: rgba(42, 44, 43, 0.6);
}

footer h3 {
	padding-bottom: 10px;
	font-family: 'Kaushan Script', cursive;
}

footer .glyphicon {
	padding-right: 5px;
}

h3, p {
	color: rgb(254, 251, 235);
}

#copyright {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Kaushan Script', cursive;
}

#email-link {
	color: #58ACFA;
}

#twitter-image {
	padding-left: 5px;
	padding-right: 5px;
}	

.square {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	padding-bottom: 50px;
	padding: 10px;
	width: 33%;
}

#square-left h4,
#square-center h4,
#square-right h4,
#square-left1 h4,
#square-center1 h4,
#square-right1 h4 {
	padding: 40px 10px;
	border-radius: 25px
}


#square-left h4 {
	background-color: #c24848;
}

#square-center h4 {
	background-color: #F5DA81;
}

#square-right h4 {
	background-color: rgb(75, 0, 6);
}

#square-left1 h4 {
	background-color: #ffa666;
}

#square-center1 h4 {
	background-color: #543f42;
}

#square-right1 h4 {
	background-color: rgb(66, 58, 48);
}

#square-info {
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#description {
	font-family: 'Kaushan Script', cursive;
	font-size: 20px;
	margin-left: 335px;
	margin-bottom: 30px;
	margin-top: 50px;
}

.item img {
	margin-left: 270px;
}

#glyphicon {
	position: absolute;
	top: 50%;
	font-size: 30px;
}

#carousel-example-generic {
	margin-top: 50px;
	margin-bottom: 50px;
}

#gallery {
	position: center;
}

.carousel-control {
	margin-top: -50px;
	margin-bottom: -50px;
}



